{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(  function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val(),
        now: new Date().getTime()
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=a]').focus().select();
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>
<h1>jQuery Example</h1>
<script>
    $(function(){
     setInterval(aa,10);
     function aa(){
         $("#date").text((new Date()).toString());
     }
    })
</script>

<script>
    var polling = function(){
       $.post('/polling', function(data, textStatus){
          
              $.getJSON($SCRIPT_ROOT + '/polling', {
                now: new Date().getTime()
              }, function(data) {
                $('#result').text(data.result);
                $('#result').text(data.result);
              });
 
         });
    };
    interval = setInterval(polling, 1000);
</script>

<script>
var postjson = function(){
    var data = {
          data: JSON.stringify({
                            "value":'asdf'
                        })
       }
    };

    $.ajax({
       url:"/postjson",
       type: 'POST',
       data: data,
       success: function(msg){
                  alert(msg);
                }
    })
};
$('a#uptext').bind('click', submit_form);
</script>


<p>
  <input type="text" size="5" name="a"> +
  <input type="text" size="5" name="b"> =
  <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>
    <br>
    <a href=# id="date">   server side</a>
    <br>
    <a href=# id="uptext">  {{ get_flashed_messages()[0] }} </a>
    <br>
{#    <span id="result">?</span>#}


{% endblock %}