{% extends "layout.html" %}
{% block body %}

{#    前后端  数据通信#}
<script type="text/javascript">
  $(  function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val(),
        now: new Date().getTime()
      }, function(data) {
        $('#result').text(data.result);
        $('input[name=a]').focus().select();
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form);

    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>

{#    局部刷新例子，显示时间#}
<h1>jQuery Example</h1>
<script>
    $(function(){
     setInterval(aa,10);
     function aa(){
         $("#date").text((new Date()).toString());
     }
    })
</script>

{#    轮询后端数据#}
<script >
    var polling = function(){
       $.post('/polling', function(data, textStatus){
{#          读取后端返回的数据#}
              $.getJSON($SCRIPT_ROOT + '/polling', {
                now: new Date().getTime()
              }, function(data) {
{#                  显示后端返回的数据#}
                $('#dataresult').text(data.result);
              });
 
         });
    };
{#    设置轮询的时间间隔#}
    interval = setInterval(polling, 1000);
</script>

{#    给后端传递json数据#}
<script type="text/javascript">
  $(  function() {
var postjson = function(e){
    var data = {
          data: JSON.stringify({
                            "value": $('input[name="a"]').val()
                        })
       }

        $.ajax({
           url:"/postjson",
           type: 'POST',
           data: data,
           success: function(msg){
                     $('#msgresult').text(msg);
                      alert(msg);
                    }
        })
    };
    $('a#uptext').bind('click', postjson);
  });
</script>

{#页面显示部分#}
<p>
  <input type="text" size="5" name="a"> +
  <input type="text" size="5" name="b"> =
  <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>
    <br>
    <a href=# id="date">   server side</a>
    <br>
    <a href=# id="uptext">  {{ get_flashed_messages()[0] }} </a>
    <br>
    <span id="dataresult">?</span>
    <br>
    <span id="msgresult">?</span>


{% endblock %}